body {
    height: 100vh;
    overflow-x: hidden;
    background: url(./assets/background.jpg);
    background-size: cover;
    
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}


#changeTempBtn {
    height: 25px;
    text-align: center;
    border: 1px solid black;
}

button:active {
    transform: scale(.9);
}

#header {
    display: flex;
    justify-content: flex-end;
    height: 15vh;
}

/* form style */
#formDiv {
    display: flex;
    margin-left: 10px;
}

input {
    height: 20px;
    font-size: 20px;
    margin: 0;
    background: transparent;
}

#submitBtn {
    margin: 0;
    background: transparent;
    border: 0px;
}

/* Content Style */
#content {
    height: 80vh;

}

.blockDiv {

    display: flex;
    flex-direction: column;
    margin-right: 10vw;
}

.blockOneDiv {
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.locationDiv {
    font-size: 60px;
    font-weight: bolder;
}

.timeDiv {
    font-size: 35px;
    font-weight: bold;
}

.dateDiv {
    font-size: 35px;
    font-weight: bold;
}

.secondLayerDiv {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}

.blockTwoDiv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.weatherDiv {
    font-size: 50px;
    font-weight: bolder;
}

.weatherDescDiv {
    font-size: 30px;
    font-weight: bold;
}

.humidDiv {
    font-size: 25px;
    font-weight: bold;
}

.blockThreeDiv {
    display: flex;
    flex-direction: column;
}

/* celsius temp imposed over fahrenhiet temp */
.cTempDiv {
    font-family: 'Courier New', Courier, monospace;
}

.cMainDiv {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}

.cSubDiv {
    
    font-size: 25px;
    font-weight: bold;
}

.fTempDiv {
    font-family: 'Courier New', Courier, monospace;
    display: none;
}

.fMainDiv {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}

.fSubDiv {
    font-size: 25px;
    
    font-weight: bold;
}

footer {
    font-weight: bold;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    color: white;
    padding-bottom: 0px;
    margin-left: 42vw;
    font-size: 15px;
    justify-content: center;
}

a:visited{
   color: white
}